<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Db Hotel</title>
</head>
<body>
  <div id="root">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>ROOM NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="room in rooms">
          <td>{{ room.id }}</td>
          <td @click="openId(room.id)">{{ room.room_number }}</td>
        </tr>
      </tbody>
    </table>


      <table v-if="roomId">
        <thead>
          <tr>
            <th>Id</th>
            <th>Room number:</th>
            <th>Floor:</th>
            <th>Beds:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ roomId.id }}</td>
            <td>{{ roomId.room_number}}</td>
            <td>{{ roomId.floor }}</td>
            <td>{{ roomId.beds }}</td>
          </tr>
        </tbody>
      </table>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
